.gradle
.idea
.gradle/6.5/gc.properties
.gradle/6.5/executionHistory/executionHistory.lock
.gradle/6.5/fileChanges/last-build.bin
.gradle/6.5/fileHashes/fileHashes.bin
.gradle/6.5/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/checksums/checksums.lock
.gradle/vcs-1/gc.properties
.idea/.gitignore
.idea/.name
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/libraries/Gradle__androidx_activity_activity_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_annotation_annotation_1_1_0.xml
.idea/libraries/Gradle__androidx_annotation_annotation_experimental_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0.xml
.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_collection_collection_1_1_0.xml
.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_2_0_4_aar.xml
.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_solver_2_0_4.xml
.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_core_core_1_3_1_aar.xml
.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_customview_customview_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_documentfile_documentfile_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_dynamicanimation_dynamicanimation_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_fragment_fragment_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_core_utils_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_1_0.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_localbroadcastmanager_localbroadcastmanager_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_print_print_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_savedstate_savedstate_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_transition_transition_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_viewpager2_viewpager2_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_material_material_1_3_0_aar.xml
.idea/libraries/Gradle__com_itextpdf_itextpdf_5_5_6.xml
.idea/libraries/Gradle__com_jgoodies_jgoodies_common_1_6_0.xml
.idea/libraries/Gradle__com_jgoodies_jgoodies_forms_1_7_1.xml
.idea/libraries/Gradle__commons_codec_commons_codec_1_11.xml
.idea/libraries/Gradle__commons_io_commons_io_2_7.xml
.idea/libraries/Gradle__commons_lang_commons_lang_2_6.xml
.idea/libraries/Gradle__commons_logging_commons_logging_1_2.xml
.idea/libraries/Gradle__javax_jmdns_jmdns_3_4_1.xml
.idea/libraries/Gradle__org_apache_httpcomponents_httpclient_4_5_13.xml
.idea/libraries/Gradle__org_apache_httpcomponents_httpcore_4_4_13.xml
.idea/libraries/Gradle__org_apache_httpcomponents_httpmime_4_3_6.xml
.idea/libraries/Gradle__org_apache_james_apache_mime4j_0_6_1.xml
.idea/libraries/Gradle__org_cups4j_cups4j_0_7_9.xml
.idea/libraries/Gradle__org_simpleframework_simple_xml_2_7_1.xml
.idea/libraries/Gradle__org_slf4j_slf4j_api_1_7_25.xml
.idea/libraries/Gradle__stax_stax_1_2_0.xml
.idea/libraries/Gradle__stax_stax_api_1_0_1.xml
.idea/libraries/Gradle__xpp3_xpp3_1_1_3_3.xml
.idea/modules/Printer.iml
.idea/modules/vulcan_printer_library.iml
.idea/modules/app/Printer.app.androidTest.iml
.idea/modules/app/Printer.app.iml
.idea/modules/app/Printer.app.main.iml
.idea/modules/app/Printer.app.unitTest.iml
.idea/modules/printerlibrary/Printer.printerlibrary.androidTest.iml
.idea/modules/printerlibrary/Printer.printerlibrary.iml
.idea/modules/printerlibrary/Printer.printerlibrary.main.iml
.idea/modules/printerlibrary/Printer.printerlibrary.unitTest.iml
